NODE_ENV=development
PORT=3000
NEXT_PUBLIC_APP_NAME=ConnectSphare
NEXT_PUBLIC_APP_URL=http://localhost:5001
NEXT_PUBLIC_API_URL=/api
NEXT_PUBLIC_SOCKET_URL=http://127.0.0.1:5001
NEXT_PUBLIC_GOOGLE_CLIENT_ID=
NEXT_PUBLIC_FACEBOOK_APP_ID=
NEXT_PUBLIC_BUSINESS_VERIFICATION_MANDATORY=false
BACKEND_API_URL=http://localhost:5001
ALLOWED_DEV_ORIGINS=http://localhost:3000,http://127.0.0.1:3000
